
<% content_for :site_title  do %>
  <div id="site_title"> </div>
  <script type="x-handlebars-template" id="header_template">
           <h1><a href='{{link_to_app}}'><strong>{{name}}</strong><span>{{header_text}}</span></a></h1>
  </script>
<% end %>

<% content_for :gallery  do %>
 <script type="x-handlebars-template" id="image_template">
           <div class="cs_article">
                   <div class="slider_content_wrapper">
									
						<div class="slider_image">
							<%= raw(img('{{path}}}',400,400)) %>
						</div>
									
						<div class="slider_content">
                            <h2>{{name}}</h2>
                                <p>{{description}}}</p>
						</div>
                                
					</div>
            </div><!-- End cs_article -->
  </script>

  <div id="gallery" class="contentslider">
                    <div class="cs_wrapper">
                        <div id="cs_slider" class="cs_slider">
                        </div><!-- End cs_slider -->
                    </div><!-- End cs_wrapper -->
  </div><!-- End contentslider -->

<% end %>

<div id="content">
            	
     
                
     <div class="cleaner"></div>
 </div>


<script>	
	$(function() {
 		new WebTodoApp(<%= @project.id %>);
	});
</script>

<script type="x-handlebars-template" id="content_template">
           {{{description}}}
 </script>

 <script type="x-handlebars-template" id="comment_template">
 		   <div class="comment">
 		   		{{created_at}} <div class="nick_name">{{nick_name}}</div>
           		<div class="comment_class">{{content}}</div>
           </div>
           <br />
 </script>